* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: #fa12fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    list-style: none;
    text-align: center;
    height: 90%;
}

.menu li{
    display: inline-block;
    margin-right: 50px;
    height: 100%;
    padding-top: 25px;
}

.menu li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    transition: background-color 0.3s;
}

.menu li a:hover{
    background: #fff;
    color: #fa12fa;
}